<app-header titulo="Date Time"></app-header>

<ion-content>

    <ion-list-header>
        <ion-label>
            Datos de Nacimiento
        </ion-label>
    </ion-list-header>

    <ion-item>
        <ion-label>Fecha Nacimiento</ion-label>
        <ion-datetime placeholder="Nacimiento" displayFormat="YYYY MMMM DD" cancelText="CANCELAR !!!" [ngModel]="fechaNaci.toISOString()" (ionChange)="cambiarFecha($event)"></ion-datetime>
    </ion-item>

    <ion-list-header>
        <ion-label>Restricciones</ion-label>
    </ion-list-header>

    <ion-item>
        <ion-label>Min y Max</ion-label>
        <ion-datetime plahceholder="yyyy-mm-dd" display-format="YYYY MMMM DD" min="2016-01-01" max="2016-12-31">
        </ion-datetime>
    </ion-item>

    <ion-list-header>
        <ion-label>Restricciones Años</ion-label>
    </ion-list-header>

    <ion-item>
        <ion-label>Años</ion-label>
        <ion-datetime plahceholder="YYYY" display-format="YYYY" min="2016" max="2020">
        </ion-datetime>
    </ion-item>


</ion-content>