<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>avatar</ion-title>

        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/rudy.jpeg">
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- Ion CHIP -->
    <ion-chip *ngFor="let i of [1, 2, 3, 4, 5, 6]">
        <ion-avatar>
            <img src="/assets/rudy.jpeg">
        </ion-avatar>
        <ion-label>Rudy Cancax</ion-label>
    </ion-chip>

    <!-- LISTA  -->
    <ion-item *ngFor="let i of [1, 2, 3, 4, 5]">
        <ion-avatar slot="start">
            <img src="/assets/rudy.jpeg">
        </ion-avatar>
        <ion-label>Rudy Cancax</ion-label>
    </ion-item>


</ion-content>